/* generic table styles */
table#mapTable {
    table-layout:fixed;
    padding: 0;
    overflow: hidden;
	margin-left: 0;
	margin-right: 0;
    clear: both;
    border-collapse: collapse;
    font-family: Helvetica, sans-serif;
	color: #292929;

}
/* set width and style table cells */
#mapTable th {
    white-space: normal;
    overflow:hidden;
    position: relative;
	width: 20%;
	border: 1px solid white;
  /* SUGGESTED FIX 
	min-width: 20%;
  display:block;
  float: left;
  */
  /*SUGGESTED FIX 
   * remove this
   */
	background: #f7f7f7;
  /*SUGGESTED FIX 
   * end remove this
   */
	font-size: 11px;
	text-align: center;
    padding: 0;
}

#mapTable tr:hover {
    background: #fff;
}

/* map/table legend styles */
#mapTable #legend {
  line-height: 12px;
    vertical-align: top;
	
}
#mapTable .swatch {
    display: block;
    width: 90%;
    height: 12px;
    padding: 3px;
    font-weight:600;
	text-align:center;
    font-size:10px;
}
/* column header and repeating column header styles */
#mapTable thead th, #mapTable .mid_labels th  {
    background: #ffffff;
    /* SUGGESTED FIX
     * remove me
     */
    padding: 3px;
    /* SUGGESTED FIX
     * end remove me
     */
    font-size: 15px;
}
/* state column styles */
#mapTable .state_name {
    width: 5%;
    /* SUGGESTED FIX
     * min-width: 10%;
     */
    padding: 3px;
    text-align: right;
    color: #222222;
}
/* table typeface styles */
#mapTable p {
	display: table-cell;
	margin: 0 auto;
	text-transform: none;
	font-weight: 600;
	padding: 8px;
	text-align: left;
    word-break: break-word;
}
/* style svg maps */
#mapTable svg path {
	fill:rgba(224, 224, 224, 1);
	

}
#mapTable .svg_container {
    position: relative;
    padding-bottom: 62%;
    height: 0;
    overflow: hidden;
	margin-bottom: -25px;
}
#mapTable .svg_container svg {
    width: 75%;
    height: 75%;
    /* FIX for FF keep the svg near the th */
    position: absolute;
    left: 15%;
}
/* hide label for n/a empty cells */
.inline_label {
    display:none;
}
/* restrict width of state column*/
th:nth-of-type(1) { 
    display:table-cell;
    width: 5%!Important;
    /* SUGGESTED FIX
     * min-width: 10%!important;
     */
}

/* optional state selector styles
#jump_to_state select {

    padding-left: .5em;
    font-size: 14px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 2.3em;
    -webkit-appearance: none;
    font-weight: bold;
    text-align: center;
    color: #333315;
    width: 11.4em;
    font-family: verdana;

}

#jump_to_state {
    background: #eeeeee;
    float: left;
    width: 12em;
    overflow: hidden;
    border: 2px solid #686868;
    margin-bottom: 1.5em;
}
*/

@media only screen and (max-width: 480px) {

    #mapTable,
    tbody, 
    tr, 
    #mapTable td, 
    #mapTable th,
    #mapTable tbody.state_name,
    #mapTable th.legal,
    #mapTable th.banned,
    #mapTable th.limbo,
    #mapTable th.bannedstrong { 
        display: block !important; 
        background:none;
        width: 83%!important;
        border:0;
    }

    table#mapTable {
        width: 26em !important;
    }

    #mapTable {
        table-layout: auto;
    }

    #mapTable .svg_container {
        padding-bottom: 0; 
    }

    #mapTable th {
		border: none;
		text-align: left;
		font-weight: normal;
		line-height: 1.5em;
		position: relative;
		padding: 5px!important;
		margin-bottom: 0px;
    }

    th:nth-of-type(2):before { content: "Constitutional amendment:"; font-weight: bold; color: #888; }
    th:nth-of-type(3):before { content: "Court action: "; font-weight: bold; color: #888; }
    th:nth-of-type(4):before { content: "Legislative action: "; font-weight: bold; color: #888; }
    th:nth-of-type(5):before { content: "Popular vote: "; font-weight: bold; color: #888; }
	
	#mapTable .state_name {
        font-weight: bold;
	    text-transform:uppercase;
        text-align:left;
	}

    #mapTable tr {
        padding-bottom: 5px;
        margin-bottom: 5px;
    }

    #mapTable svg .legal, 
    #mapTable svg .banned,
    #mapTable svg .limbo,
    #mapTable svg .bannedstrong {
    background-color: transparent;
        fill: transparent;
    }

    tr:nth-of-type(odd) { 
        background: #f7f7f7; 
    }

    #mapTable thead,
    #mapTable .mid_labels {
        display:none!important;
    }

    #mapTable p {
        padding: 0;
		margin: 0!important;
    }

    .inline_label {
        display: block;
    }
}
